body{
    background-image: url("https://img.freepik.com/premium-vector/seamless-shopping-cart-pattern-white-background-simple-shopping-cart-icon-creative-design-can-be-used-wallpaper-web-page-background-textile-print-ui-ux_159242-3135.jpg?w=2000");
    
}
.product {
    margin:5% 25% 5% 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid rgb(46, 44, 44);
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
   background-color:rgb(219 215 194 / 95%);
   box-shadow:#a7a5a2 10px 10px 25px ;
}

.image {
 width: 300px;
 height: 350px;
 border-radius: 40px;
}

.image img{
   max-width: 100%;
   max-height: 100%;
}

.info {
    width: 300px;
}

.name,
.rating,
.description {
    word-wrap: break-word;
    margin-bottom: 10px;
}
.pprice{
    height: 150px;
    width: 239px;  
    margin-left: 600px;
    
}
.aprice{
    display: flex;
    border: 4px solid black;
    border-radius: 10px;
    height: 69px;
    background-color:rgb(219 215 194 / 95%);
    padding-right: 5px;
    padding-left: 5px;
    width: 282px;
    box-shadow:#a7a5a2 10px 10px 25px ;
}
.fprice{
    margin-top: 5px;
    display: flex;
    border: 4px solid black;
    height: 66px;
    border-radius: 10px;
    background-color:rgb(219 215 194 / 95%);
    padding-right: 5px;
    padding-left: 5px;
    width: 282px;
    box-shadow:#a7a5a2 10px 10px 25px ;
}

.alink{
    padding-top: 15px;
    margin-left: 69px;
}
.flink{
    padding-top: 30px;
    margin-top: -10px;
}
.fimage{
    width: 156px;
}
.aimage img{
    max-width: 100%;
    max-height: 80%;
}
.fimage img{
    max-width: 100%;
    max-height: 100%;
}
.alink a{
    text-decoration: none;
    font-size: 20px;
    color: green;
    
}
.flink a{
    text-decoration: none;
    font-size: 20px;
    color: green;
    
}
.aprice:hover{
    cursor: pointer;
    transition: 200ms;
    transform: scale(105%);
}
.fprice:hover{
    cursor: pointer;
    transition: 200ms;
    transform: scale(105%);
}
